.style{
    background: rgb(97, 95, 95);
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    
}
.primery-style{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #646262;
    color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
}
.text{
    background: #9e5d5d;
    padding: 10px 40px;
    border-radius: 10px;
    display: flex;
    margin: 10px auto;
    flex-wrap: wrap;
    width: 700px;
    gap:50px;
    

}